{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "importOrder": [
    "^@routes",
    "^@api/(.*)$",
    "^@utils/(.*)$",
    "^@hooks/(.*)$",
    "^@icons/(.*)$",
    "^@pages/(.*)$",
    "^@components/(.*)$",
    "^@libs/.*/((?!types).)*$",
    "^@libs/.*/types",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
