@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'gg sans Regular';
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src:
    local('gg sans Regular'),
    url('https://nlgotvxbscfflhsnpitn.supabase.co/storage/v1/object/public/assets/fonts/gg-sans-regular.woff')
      format('woff');
}

@font-face {
  font-family: 'gg sans Medium';
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src:
    local('gg sans Medium'),
    url('https://nlgotvxbscfflhsnpitn.supabase.co/storage/v1/object/public/assets/fonts/gg-sans-medium.woff')
      format('woff');
}

@font-face {
  font-family: 'gg sans SemiBold';
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src:
    local('gg sans SemiBold'),
    url('https://nlgotvxbscfflhsnpitn.supabase.co/storage/v1/object/public/assets/fonts/gg-sans-semibold.woff')
      format('woff');
}

@font-face {
  font-family: 'gg sans Bold';
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src:
    local('gg sans'),
    url('https://nlgotvxbscfflhsnpitn.supabase.co/storage/v1/object/public/assets/fonts/gg-sans-bold.woff')
      format('woff');
}

@keyframes typingFade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

html {
  font-family: 'gg sans Regular';
}

/* Message utils */
.message-list-height {
  min-height: calc(100% - theme('spacing.6'));
}

/* Scrollbar utils */
.scrollbar-thin::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-thin::-webkit-scrollbar-thumb,
.scrollbar-large::-webkit-scrollbar-thumb {
  background-color: theme('colors.scrolltrack');
  border-radius: theme('spacing.2');
}

.scrollbar-thin::-webkit-scrollbar-track,
.scrollbar-large::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: theme('spacing.1') solid transparent;
  border-width: initial;
  margin: theme('spacing.1') 0;
}

.scrollbar-thin::-webkit-scrollbar-corner,
.scrollbar-large::-webkit-scrollbar-corner {
  background-color: transparent;
}

.scrollbar-large::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-large::-webkit-scrollbar-track {
  background: theme('colors.caviar');
  border-radius: theme('spacing.2');
}

.h-full-app-bar {
  height: calc(100% - theme('spacing.12'));
}

/* Font family utils */
.gg-regular {
  font-family: 'gg sans Regular';
}
.gg-medium {
  font-family: 'gg sans Medium';
}
.gg-semibold {
  font-family: 'gg sans SemiBold';
}
.gg-bold {
  font-family: 'gg sans Bold';
}

/* Text utils */
.word-break {
  word-break: break-word;
}

/* Animation utils */
.typing-dot {
  opacity: 0;
  animation: typingFade 1s infinite;
}

.typing-dot:nth-child(1) {
  animation-delay: 0s;
}

.typing-dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-dot:nth-child(3) {
  animation-delay: 0.4s;
}
